<h1>HI 這是裡單字卡首頁</h1>

<%= link_to '新增字卡', new_word_path %>

<div class= 'content flex'>
  <div class= 'border border-black'>
    <p>中文</p>
    <% @chinese.each do |chinese| %>
      <span><%= chinese %></span>
    <% end %>
  </div>
  <div class= 'border border-red-300'>
    <p>韓文</p>
    <% @korean.each do |korean| %>
      <span><%= korean %></span>
    <% end %>
  </div>
</div>
