<h1>HI 這是裡單字卡首頁</h1>

<%= link_to '新增字卡', new_word_path %>

<div class= 'content' style='display: flex;'>
  <div style='border: 1px solid black;'>
    <p>中文</p>
    <% @chinese.each do |chinese| %>
      <span><%= chinese %></span>
    <% end %>
  </div>
  <div style='border: 1px solid red;'>
    <p>韓文</p>
    <% @korean.each do |korean| %>
      <span><%= korean %></span>
    <% end %>
  </div>
</div>
